<!DOCTYPE html>

<html>

<head>

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript">

var app = angular.module('App', []);

app.controller('JobCtrl', function ($scope, $http)
        {

//postBlog('abc','java','harsha','11/10/2018','language something');
$scope.postJob = function (jobrole, s, joblocation,jobd) {

var jobData = {

        jobRole: jobrole,

        salary: s,

        jobLocation: joblocation,
        
        jobdescription:jobd
        
        
        

};//blogData  object

//Call the services

$http.post('http://localhost:8081/project2/jobdetails',
        JSON.stringify(jobData)).then(function (response) {

if (response.data)

$scope.msg = "Job  Created Successfully!";

},
function (response) {

$scope.msg = "Service not Exists";

$scope.statusval = response.status;

$scope.statustext = response.statusText;

$scope.headers = response.headers();

}); //then

}; //postBlog

}); //controller

</script>

</head>

<body ng-app="App">

<div  ng-controller="JobCtrl">

<div>

<div class="container">
<form class="form-horizontal">
  <div class="form-group">
  <label for="jobrole">Job Role:</label>
<div class="col-sm-4">
<input ng-model="jobRole" class="form-control" placeholder="enter jobrole"/>
</div>
 <div class="form-group">
 <label class="col-sm-offset-2 control-label col-sm-2" for="salary">salary</label>
<div class="col-sm-4">
 <input ng-model="salary" class="form-control" placeholder="enter salary" />
</div>
 <div class="form-group">
 <label for="joblocation">Job Location</label>
 <div class="col-sm-4">
 <input ng-model="jobLocation" class="form-control" placeholder="enter location" />
</div>
<div class="form-group">
<label for="description">Job Description</label>
 <div class="col-sm-4">
 <input ng-model="jobdescription" class="form-control" placeholder="enter description"/>
</div>

</div>
<input type="button"  class="btn btn-default" value="Send" ng-click="postJob(jobRole,salary,jobLocation,jobdescription)" /> <br/><br/>
</form>
</div>

<p>Output Message : {{msg}}</p>

<p>StatusCode: {{statusval}}</p>

<p>Status: {{statustext}}</p>

<p>Response Headers: {{headers}}</p>


</body>

</html>